<div class="card">
    <div class="card-header">
       <h4><a class="link" href="/post/{{id}}">{{post_title}}</a></h4>
        <p>Posted by {{user.username}} on {{format_date date_created}}</p>
    </div>
        <p class="card-body">{{post_content}}</p>
</div>